@model ShoppingCartVM 
@{

    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    var sc = Model;
}

<style>
    .dlt-button{
        cursor: pointer;
        position:absolute;
        right: 17px;
        top: 16px;
    }

     </style>


     <form asp-controller="Order" asp-action="Index" method="post">
<div class="container">
    <div class="row gx-3 mt-4">
        <div class="col-lg-9 col-12 ">
            <input asp-for="SubTotal" hidden  />
            <input asp-for="Tax"  hidden/>
            <input asp-for="Total"  hidden/>
            
            @for (int i = 0;  i < Model.ShoppingCarts.Count; ++i)
            {
                @*TODO - Check if those are needed*@
            <input asp-for="@Model.ShoppingCarts[i].ProductId" hidden/>
            <input asp-for="@Model.ShoppingCarts[i].Product.Name" hidden/>
            <input asp-for="@Model.ShoppingCarts[i].Product.Producent.Name" hidden/>
            <input asp-for="@Model.ShoppingCarts[i].Product.Category.Name" hidden/>
            <input asp-for="@Model.ShoppingCarts[i].Product.ProductImage" hidden/>
            <input asp-for="@Model.ShoppingCarts[i].Id" hidden/>
            <input asp-for="@Model.ShoppingCarts[i].SubTotal" hidden/>
            <input asp-for="@Model.ShoppingCarts[i].TaxAmount" hidden/>
            <input asp-for="@Model.ShoppingCarts[i].Total" hidden/>
            <div class="p-3 mt-2 d-flex justify-content-between position-relative bg-white rounded-3">
                <div class="me-4" style="">
                    <img src="@Model.ShoppingCarts[i].Product.ProductImage" style="max-width: 100px; max-height: 100%;" />
                </div>
                <div class="d-flex justify-content-between align-items-center" style="width: calc(100% - 128px);">
                <div class="" style="width:calc(100% - 200px);">
                    <div class="prod-name-style d-none d-lg-block">@Model.ShoppingCarts[i].Product.ToString()</div>
                    <div class="prod-name-style d-block  d-lg-none ">@Model.ShoppingCarts[i].Product.Producent.Name @Model.ShoppingCarts[i].Product.Name </div>
                    <div class="text-muted mt-2" style="font-size:0.8rem;"> @Model.ShoppingCarts[i].Product.ShortDescription</div>
                </div>
                <div class="d-flex justify-content-end align-items-end" style="width: 230px; margin-top: 80px;">
                    <div class="d-flex align-items-center justify-content-between w-100 ">
                        <input type="number" asp-for="@Model.ShoppingCarts[i].Count" class="form-control position-relative" style="width:70px;" />
                        <span class="price ">
                            @{ var finalPrice = Model.ShoppingCarts[i].Product.RetailPrice * Model.ShoppingCarts[i].Count;  }
                            $@Math.Round(finalPrice , 2 , MidpointRounding.AwayFromZero)
                            </span>
                    </div>
                </div>
                </div>
                <div class="d-flex dlt-button ">
                    <a asp-action="IncrementCount" asp-route-cartId="@Model.ShoppingCarts[i].Id" class="btn btn-outline-success mx-2 "> <i class="bi bi-plus "></i></a>
                    <a asp-action="DecrementCount" asp-route-cartId="@Model.ShoppingCarts[i].Id" class="btn btn-outline-warning me-2"> <i class="bi bi-dash "></i></a>
                    <a asp-action="RemoveFromCart" asp-route-cartId="@Model.ShoppingCarts[i].Id" class="btn btn-outline-danger  "> <i class="bi bi-trash3 "></i></a>
                 </div>
            </div>
            }
            </div>
            <div class="col-lg-3 col-12">
                <div class="p-3 mt-2 rounded-3 bg-white">
                    <div class="d-flex align-items-center  justify-content-between">
                        <div class="">
                            To Pay:
                        </div>
                        <div class="text-end" >
                            <div class="">
                                <span>Subtotal:</span>
                                <span class="prod-name-style"> $@Model.SubTotal</span>
                            </div>
                            <div class="">
                                <span>Tax:</span>
                                <span class="prod-name-style"> $@Model.Tax</span>
                            </div>
                            <div class="">
                                <span>Total:</span>
                                <span class="prod-name-style"> $@Model.Total</span>
                            </div>
                            <div class="text-muted" style="font-size:15px;">
                                + shipping
                            </div>

                        </div>
                    </div>
                    <div class="mt-2 w-100 text-center" style="margin-top:2px;">
                        <button type="submit" class="btn btn-primary w-100">To Checkout</button>
                        @*<button type="submit" class="btn btn-primary w-100">To Checkout!</button>*@
                    </div>
                 
            </div>
        </div>
    </div>
</div>
</form>



@if(TempData["failure"] is not null)
{
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        Swal.fire({
            icon: 'error',
            title: 'Sorry',
            text: '@TempData["failure"]',
        })
    </script>
}